@import "tailwindcss";
@import "@nuxt/ui";
@import "./animations.css";

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--ui-bg-inverted);
    border-radius: 5px;
}

html, body, #__nuxt, #__layout {
  width: 100%;
  height: 100%;
}

@theme {
  --font-newsreader: 'Newsreader', serif;
  --font-geist: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', sans-serif;
}
