@import "tailwindcss";
@import "@nuxt/ui";
@import "./animations.css";

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--ui-bg-inverted);
  border-radius: 5px;
}

:root {
  --ui-radius: var(--radius-sm);
}

html, body, #__nuxt, #__layout {
  width: 100%;
  height: 100%;
}

@theme {
  --font-newsreader: 'Newsreader', serif;
  --font-geist: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', sans-serif;
}

.main-gradient {
  @apply font-geist-mono bg-gradient-to-r from-neutral-50 to-neutral-600 to-50% bg-clip-text text-transparent;
}
