@import "tailwindcss";
@import "@nuxt/ui";
@import "./animations.css";

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--ui-bg-inverted);
  border-radius: 5px;
}

:root {
  --ui-radius: var(--radius-sm);

  --ease-smooth: cubic-bezier(0.45, 0, 0.55, 1);

  .default {
    --ui-container: var(--container-5xl);
  }
}

html, body, #__nuxt, #__layout {
  width: 100%;
  height: 100%;
}

@theme {
  --font-newsreader: 'Newsreader', serif;
  --font-geist: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', sans-serif;

  --animate-ripple-1: ripple 2.5s var(--ease-smooth) infinite 0.15s;
  --animate-ripple-2: ripple 2.5s var(--ease-smooth) infinite 0.4s;
  --animate-ripple-3: ripple 2.5s var(--ease-smooth) infinite 0.65s;
}

.main-gradient {
  @apply font-geist-mono bg-gradient-to-r from-neutral-50 to-neutral-600 to-50% bg-clip-text text-transparent;
}

.bg-stripes {
  @apply w-full [background-size:4px_4px];
  @apply dark:[background-image:linear-gradient(-45deg,var(--color-neutral-700)_12.50%,transparent_12.50%,transparent_50%,var(--color-neutral-700)_50%,var(--color-neutral-700)_62.50%,transparent_62.50%,transparent_100%)];
  @apply not-dark:[background-image:linear-gradient(-45deg,var(--color-neutral-200)_12.50%,transparent_12.50%,transparent_50%,var(--color-neutral-200)_50%,var(--color-neutral-200)_62.50%,transparent_62.50%,transparent_100%)];
}

.bg-dotted {
  background-image:
    radial-gradient(transparent, Canvas),
    radial-gradient(
      color-mix(in oklch, Canvastext 33%, Canvas) 0.8px,
      transparent 1.3px
    );
  background-size:
    200px 200px,
    40px 40px;
  background-repeat:
    round,
    space;
}
