@import "animations.css";

/* Global styles, css resets, etc. */
html, body, #__nuxt, #__layout {
    width: 100%;
    height: 100%;
    @apply font-geist selection:bg-accent selection:text-inverted;
}

@font-face {
    font-family: "Newsreader", serif;
    src: url("../../public/fonts/Newsreader_60pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Geist", sans-serif;
    src: url("../../public/fonts/GeistVariableVF.ttf");
}

@font-face {
    font-family: "Cabinet Grotesk Variable", sans-serif;
    src: url("../../public/fonts/CabinetGrotesk-Variable.ttf");
}

html.light {
    --primary-color: rgb(255, 255, 255);
    --accent-color: rgb(40, 83, 255);

    --text-primary: rgb(2,2,2);
    --text-secondary: rgb(61, 61, 61);
    --text-tertiary: rgb(96, 96, 96);
    --text-inverted: rgb(255,255,255);

    --border-color: rgba(0,0,0,0.1);
}

html.dark {
    --primary-color: rgb(2,2,2);
    --accent-color: rgb(7, 78, 255);

    --text-primary: rgb(248,243,238);
    --text-secondary: rgb(200,200,200);
    --text-tertiary: rgb(150,150,150);
    --text-inverted: rgb(255,255,255);

    --border-color: rgba(255,255,255,0.1);
}

.input {
    @apply block w-full rounded-md border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6;
}

.button {
    @apply flex justify-center items-center gap-2 rounded-md px-4 py-2 text-inverted bg-accent;
}
