@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content";

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Jetbrains Mono', monospace;
  --font-serif: 'Newsreader', serif;
}

:root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}
