@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

:root {
  --ui-primary: black;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  --ui-primary: white;

  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
